GOOGLE_CLIENT_ID="YOUR_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_CLIENT_SECRET"
GOOGLE_REDIRECT_URI_LOCAL="http://localhost:8501"
GOOGLE_REDIRECT_URI_CLOUD="https://mailshield.streamlit.app"
SCOPES='["https://www.googleapis.com/auth/gmail.modify"]'
